* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}


body {
    background: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

.offer_box {
    background: #1D232C;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: text;
}

.offer_box h2 {
    cursor: pointer;
    align-items: center;
    cursor: text;
}

.offer_box i {
    margin-left: 80px;
    align-items: center;
    cursor: pointer;
    margin-right: 4px;
    font-size: 20px;
    color: #ff6f61;
}

.navbar {
    font-size: 18px;
    font-weight: 500;
    position: sticky;
    top: 0;
    padding: 15px 15px;
    margin: 0px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    font-size: 35px;
    font-weight: 700;
    color: #1D232C;
}

.navbar-link {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-link a {
    font-size: 18px;
    color: #333;
    transition: color 0.3s;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

.navbar-link a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff6f61;
    left: 0;
    bottom: 0;
    transition: width 200ms ease;
    border-radius: 10%;
}

.navbar-link a:hover {
    color: #ff6f61;
}

.navbar-link a:hover::after {
    width: 100%;
}

.navbar-side-actions {
    display: none;
    font-size: 22px;
    cursor: pointer;
    color: #1D232C;
}

.navbar_side-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    background-color: #1D232C;
    color: #ffffff;
    width: 50%;
    height: 100vh;
    row-gap: 30px;
    text-align: left;
    padding: 80px 20px;
    border-radius: 0px 5px 5px 0px;
}

.navbar_side-links a {
    font-size: 18px;
    color: #ffffff;
    transition: color 0.3s;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

.navbar_side-links a:hover {
    color: rgb(53, 53, 53);
}

.close-btn {
    position: absolute;
    padding: 7px 15px;
    top: 20px;
    right: 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20%;
}

.close-btn:hover {
    background-color: #ff6f61;
}

@media (max-width: 900px) {
    .offer_box {
        font-size: 8px;
    }

    .navbar-link {
        display: none;
    }

    .navbar-side-actions {
        display: block;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.slider {
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.slider-image-container {
    display: flex;
    transition: 2s;
}

.slider-image {
    width: 100vw;
}

.slider-left-button {
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
}

.slider-left-button i {
    font-size: 10vw;
    cursor: pointer;
}

.slider-right-button {
    position: absolute;
    top: 35%;
    right: 5%;
}

.slider-right-button i {
    font-size: 10vw;
    cursor: pointer;
}

.slider-content {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    top: 35%;
}

.slider-content h1 {
    font-size: 5vw;
}

.slider-content button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #1D232C;
    cursor: pointer;
}

.brands {
    margin: 20px;
    margin-bottom: 50px;
}

.brand-item {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8%;
}

.brand-logo {
    background: #fff;
    padding: 10px 10px;
    border-radius: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.brand-name {
    position: absolute;
    top: 100%;
    font-size: large;
}


.brand-logo img {
    width: 100%;
    height: auto-adjust;
    object-fit: contain;
}

.brand-logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .brand-item {
        gap: 5%;
    }

    .brand-name {
        font-size: medium;
    }
}

.services {
    margin-top: 10vw;
    margin-left: 20px;
    position: relative;
}

.services h2 {
    text-align: left;
    font-size: 2vw;
}

.services p {
    position: absolute;
    font-size: 1vw;
    right: 5%;
    top: 25%;
}

.service-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 5%;
    margin-top: 3vw;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.service-item {
    background: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    width: 20%;
    height: auto;
    text-align: center;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.service-item img {
    width: 50%;
    height: auto;
    object-fit: contain;
}

.service-item h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .services h2 {
        font-size: 3vw;
    }

    .services p {
        font-size: 1.5vw;
        right: 2%;
    }

    .service-list {
        gap: 10%;
    }

    .service-item {
        width: 40%;
    }

    .service-item h3 {
        font-size: 2vw;
    }

    .service-item p {
        font-size: 1.5vw;
    }
}

.new-arrivals {
    margin-top: 5vw;
    margin-left: 20px;
    margin-right: 20px;
}

.new-arrivals-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 5%;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.new-arrival-item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.new-arrival-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    border-radius: 2%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.new-arrival-item button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    font-size: 2vw;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 16%;
    z-index: 3;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50px;
}

.most-wanted {
    margin-top: 5vw;
    margin-right: 20px;
    margin-bottom: 3vw;
}

.most-wanted-list {
    display: flex;
    gap: 50px;
    margin-top: 3vw;
    margin-bottom: 5vw;
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;

}

.most-wanted-item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.most-wanted-item img {
    width: 20vw;
    object-fit: cover;
}

.most-wanted-item p {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2vw;
    color: white;
    background-color: rgb(243, 62, 62);
    padding: 3px 8px;
    border-radius: 15px;
}

.blackheart {
    position: absolute;
    bottom: 35px;
    right: 35px;
    padding: 6px;
    cursor: pointer;
    z-index: 10;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-width: 0;
}

.blackheart img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .blackheart img {
        width: 20px;
        height: 20px;
    }

    .blackheart {
        bottom: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
    }

}

.limited-offer {
    display: flex;
    justify-content: center;

    align-items: center;
    background-color: #1D232C;
    color: #E2E1E1;
    padding: 20px;
    font-size: 2vw;
}

.limited-offer img {
    width: 100%;
    height: 100%100%;
}

.limited-offer-text {
    padding: 5%;
}

.limited-offer button {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 10px;
    font-size: 1.2vw;
    color: #1D232C;
    border-radius: 10px;

    border: none;



}

/* Scroll Animate */

.initial-scroll-animate {

    transition: 3s;
}

.reveal-scroll-animate {
    opacity: 0;
}

.news {
    font-size: 2vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid #1D232C 3px;

}

.news input:focus {
    outline: none;
    border: solid #ff6f61 3px;
}

.news button {

    margin-top: 10px;
    font-size: 1.8vw;
    color: #E2E1E1;
    background-color: #1D232C;
    border-radius: 10px;
    border: none;
    padding: 10px
}


.icon {
    width: 40px;
    margin: 2vw;

}

.footer {
    font-size: 2vw;
    margin-top: 5vw;
    padding: 40px;
    background-color: #1D232C;
    color: #E2E1E1;
    box-sizing: border-box;
}

.footer-container {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-box-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.divide-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 50px;
}

.filter-section {
    flex-basis: 25%;
    margin-left: 20px;
    font-size: 1.5vw;
    position: relative;
}

.filter-section-occasion, .filter-section-color, .filter-section-arrivals {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.filter-checkbox-occasion, .filter-checkbox-color, .filter-checkbox-arrivals {
    margin-right: 10px;
    margin-left: 10px;
    width: 20px;
    text-align: center;
}

.vertical-line {
    border-left: 2px solid #000000;
    height: 100%;
    margin: 0 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.navbar-search {
    flex-basis: 75%;
    margin-right: 20px;
    position: relative;
}

.search-form input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: solid #1D232C 3px;
    padding-left: 20px;
    font-size: 1.5vw;
}

.search-form i {
    position: absolute;
    top: 15px;
    right: 5%;
    font-size: 20px;
    cursor: pointer;
}

.contact-form {
    background-color: #1D232C;
    color: #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60vw;
    margin: auto;
    padding: 5vw;
    padding-right: 10vw;
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    border-radius: 10px;
    border: solid #1D232C 3px;
    padding: 10px;
    font-size: 1.5vw;
}

.contact-form h2 {
    margin-bottom: 1vw;

}

.contact-form label {
    display: block;
    margin-bottom: 1vw;

}

.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 2vw;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 1vw;
    font-size: 1vw;
}

.contact-form textarea {
    resize: vertical;
    height: 10vh;
}

.contact-form input[type="submit"] {
    color: #ffffff;
    width: 20%;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    background-color: #0056b3;
}

.contact-form input[type="submit"]:hover {
    background-color: #004494;
}